[user]
    name = 
    email = 
	signingKey = 
[alias]
    clone-token = !sh -c 'git clone https://$GITHUB_TOKEN@github.com/$1.git' -
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	clean = git-lfs clean -- %f
	required = true
[commit]
	gpgSign = true
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[init]
	defaultBranch = main
[core]
	excludesFile = ~/.gitignore.global
[tag]
	forceSignAnnotated = true
