export ZSH="/home/{{ var_deploy_user }}/.oh-my-zsh"

ZSH_THEME="{{ var_zsh_theme }}"

plugins=({{ var_zsh_plugins }})

source $ZSH/oh-my-zsh.sh

### USADO PELO GO
#export PATH=$PATH:{{ var_go_default_path }}
[[ -s "{{ var_go_gvm_path }}" ]] && source "{{ var_go_gvm_path }}"
export GOPATH={{ var_go_path }}
export PATH=$PATH:$GOPATH/bin

### USADO PELO JAVA
export JAVA_HOME="{{ var_jvm_path }}/current"
export PATH=$PATH:$JAVA_HOME/bin

### ALTERA JAVA
ALT_JAVA={{ var_jvm_path }}
PATH=$ALT_JAVA:$PATH

### USADO PELO MAVEN
M2_HOME={{ var_mvn_path }}
M2=$M2_HOME/bin
PATH=$M2:$PATH

### USADO PELO GRADLE
GRADLE_HOME={{ var_gradle_path }}
GRADLE=$GRADLE_HOME/bin
PATH=$GRADLE:$PATH